.dynamic-image-container {
	position: fixed; /* Pour occuper toute la page */
	top: 0;
	left: 0;
	width: 100%;
	height: 80%; /* Pour occuper toute la hauteur de la vue */
	opacity: 0;
	transition: opacity 0.3s;
	z-index: -1; /* Pour que l'image soit derrière le contenu */
  }

  .dynamic-image-container.visible {

	opacity: 1;
  }

  .dynamic-image {
	width: 100%;
	height: 80%;
	object-fit: cover;
  }
