/* Header.css */
.gofundme-header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 60px;
  }

  .nav-left, .nav-right {
	display: flex;
	align-items: center;
	gap: 20px;
  }

  .gofundme-header a {
	text-decoration: none;
	color: hsl(0, 0%, 0%);
	font-weight: 500;
  }

  .gofundme-header a:hover {
	color: #4CAF50;
  }

  .logout-button, .register-button {
	background-color: white;
	color: #000000;
	border: none;
	padding: 2px 5px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
  }

  .register-button {
	background-color: white;
	color: white;
	border: none;
	padding: 2px 5px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
  }

  .logo-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	left: 0;
  }

  @keyframes moveText {
	0% { transform: translateX(0); }
	50% { transform: translateX(10px); }
	100% { transform: translateX(0); }
  }

  .animated-text {
	display: inline-block;
	animation: moveText 3s ease-in-out infinite;
  }

  .site-title {
	text-align: center;
	position: relative;
	top: -20px; /* Ajustez cette valeur pour monter le titre */
  }




