/* Logo.css */

.logo {
	height: 70px;
	margin-right: 10px;
	width: auto;
	margin-top: 7px;
  }

  .logo.react {
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
  }

  .logo-container {
	display: flex;
	align-items: center;
  }

  .logo:hover {
	filter: drop-shadow(0 0 2em hsla(251, 90%, 37%, 0.877));
  }

  .logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
	animation: logo-spin-and-sparkle infinite 10s linear;
  }

  @keyframes logo-spin-and-sparkle {
	0% {
	  transform: rotate(0deg);
	  filter: drop-shadow(0 0 2em #61dafb00);
	}
	25% {
	  filter: drop-shadow(0 0 2em #61dafbaa);
	}
	50% {
	  transform: rotate(180deg);
	  filter: drop-shadow(0 0 2em #61dafb00);
	}
	75% {
	  filter: drop-shadow(0 0 2em #61dafbaa);
	}
	100% {
	  transform: rotate(360deg);
	  filter: drop-shadow(0 0 2em #61dafb00);
	}
  }

  @media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
	  animation: logo-spin-and-sparkle infinite 10s linear;
	}
  }
