.not-found-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Prend toute la hauteur de la fenêtre */
	text-align: center;
  }

  .not-found-container h1 {
	font-size: 3rem;
	color: #ff4d4f;
  }

  .not-found-container p {
	font-size: 1.5rem;
	color: #555;
  }

  .back-home-button {
	display: inline-block;
	margin-top: 20px; /* Ajustez si nécessaire */
	padding: 10px 20px;
	background-color: #00698f;
	color: white;
	text-decoration: none;
	border-radius: 5px;
  }

  .back-home-button:hover {
	background-color: #4caf50;
  }
