/* RegisterForm.css */

.register-form {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 0vh;
	padding: 2px;
	flex-direction: column;
}

.register-form-container {
	width: 100%;
	max-width: 400px;
	margin: 400px auto;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .register-form {
	display: flex;
	flex-direction: column;
  }

  .register-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }

  .register-form button {
	width: 100%;
	padding: 10px;
	background-color: #00698f;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
