/* presentation.css */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('./assets/images/background.jpg'); /* Arrière-plan de la page */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #e02d2d;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header .logo {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.intro, .assets-images, .call-to-action {
    margin-bottom: 40px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.gallery img {
    max-width: 100%;
    margin-bottom: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Espace entre les boutons */
    margin-top: 20px;
}

.home-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease; /* Ajoute une transition pour le hover */
}

.home-button:hover {
    background-color: #45a049;
}

.donate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, footer {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .donate-button {
        width: 100%;
        padding: 15px;
    }
}
